.buttonPageContainer {
   margin: 0 4px;
   color: var(--gray);
   background-color: var(--red-light);
   border: 1px solid var(--red);
   padding: 5px;
   border-radius: 2.5px;
   cursor: pointer;
   transition: all ease .6s;
   box-shadow: 0px 3px 6px #00000029;

   &:hover {
      filter: brightness(.6);
   }

   &.isCurrent {
      background-color: var(--red);
      color: var(--white);
   }
};