.searchBarContainer {
   display: flex;
   align-items: center;
   border-radius: 34px;
   padding: 0 16px;
   height: 70px;
   background-repeat: no-repeat;
   background-size: cover;
   box-shadow: 0px 3px 6px #00000029;
   position: relative;
   z-index: 2;
   
   &.isHero {
      height: unset;
      padding: 5px 16px;
      background-color: var(--white);

      @media (max-width: 575px) {
         &.hasText {
            border-radius: 0;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
         }
      }
   }

   input {
      height: 100%;
      flex: 1;
      padding: 10px;
      outline: none;
      border: 0;
      color: var(--gray);
      font-size: 16px;
      line-height: 26px;
      background-color: transparent;

      &.notHome {
         &::placeholder {
            color: var(--gray);
         }
      }

      @media (max-width: 767px) {
         font-size: 12px;
         line-height: 22px;
      }

      &::placeholder {
         color: var(--red);
      }
   }
}

.center {
   display: flex;
   align-items: center;
   justify-content: center;

   h5 {
      color: var(--gray);
      font-size: 16px;
   }
}

.heroesContainer {
   position: absolute;
   width: 90%;
   height: 300px;
   background-color: var(--white);
   top: 100%;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   flex-direction: column;
   padding: 20px 0;
   overflow-y: scroll;
   z-index: 1;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   min-height: 30px;

   &::-webkit-scrollbar {
      width: 5px;
   }
    
   &::-webkit-scrollbar-track {
      background: var(--white);
   }
    
   &::-webkit-scrollbar-thumb {
      background: var(--red);
      border-radius: 3px;
   }

   @media (max-width: 575px) {
      width: 100%;
   }
}