.searchBarContainer {
   display: flex;
   align-items: center;
   border-radius: 16px;
   padding: 0 16px;
   height: 70px;
   background-repeat: no-repeat;
   background-size: cover;

   input {
      height: 100%;
      flex: 1;
      padding: 10px;
      outline: none;
      border: 0;
      color: var(--gray);
      font-size: 16px;
      background-color: transparent;

      &::placeholder {
         color: var(--red);
      }
   }
}