:root {
   --red: #e23636;
   --red-light: #ffd7d7;
   --black: #000000;
   --gray: #504a4a;
   --bg: #f8f8f8;
   --white: #fff;
   --green: #d6edd6;
}

* {
   padding: 0;
   box-sizing: border-box;
   margin: 0;
}

body {
   font-family: 'Roboto', sans-serif;
   -webkit-font-smoothing: antialiased;
   background: var(--white);
}

body::-webkit-scrollbar {
   width: 5px;
}
 
body::-webkit-scrollbar-track {
   background: var(--white);
}
 
body::-webkit-scrollbar-thumb {
   background: var(--red);
   border-radius: 3px;
}