:root {
   --red: #e23636;
   --red-light: #ffd7d7;
   --black: #000000;
   --gray: #504a4a;
   --bg: #f8f8f8;
   --white: #fff;
}

* {
   padding: 0;
   box-sizing: border-box;
   margin: 0;
}

body {
   font-family: 'Roboto', sans-serif;
   -webkit-font-smoothing: antialiased;
   background: var(--white);
}